<configuration>
  <property name="APP_CONSOLE_LOG_PATTERN"
            value="${APP_CONSOLE_LOG_PATTERN:-%boldGreen(%d{yyyy-MM-dd}) | %boldBlue(%d{HH:mm:ss.SSS}) | %highlight(%-5level) | %cyan(%-20.20thread) | %-25.25logger{25} | %-25.25method{25}  | %m%xEx{full}%n}"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${APP_CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="ru.tversu.apka" level="INFO" additivity="true"/>

  <!-- logging incoming http requests. Default level: INFO, switch to DEBUG to activate -->
  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="INFO"
          additivity="true"/>

  <!-- logging liquibase changelogs -->
  <logger name="liquibase" level="INFO" additivity="true"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
